/* CSS for ExerciseMdfXBlock */

.exercisemdf_block .count {
    font-weight: bold;
}

.exercisemdf_block p {
    cursor: pointer;
}

.option-content {
    width: 100%;
}

.template {
    display: none;
}
